<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Forgot Password</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body>
      <div>
         <br><br>
         <a href="/"><img src="/images/logo.png"></a>
         <br><br><br>
      </div>
      <div class="wrapper">
         <div class="title">
            Forgot Password
         </div>
         <form action="/employees/resetPassword" method="POST"> 
            <div class="field">
               <input type="email" name="email" required>
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="submit" value="Reset Password">
            </div>
         </form>
      </div>
      <br><br>
   </body>
</html>