<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/HR_styles.css" />

    <script src="/js/HR_script.js"></script>

    
  </head>
  <body id="body">
    <div class="container">
     

      <main>
        <div class="main__container">
          <!-- MAIN TITLE STARTS HERE -->

          <div class="main__title">
            <img src="/images/hello.svg" alt="" />
            <div class="main__greeting" style="text-align: left;">
              <h1>Welcome to Probotiq Solutions!</h1>
              <p>We are happy to see you.</p>
            </div>
          </div>

          <!-- MAIN TITLE ENDS HERE -->
           <br>
          <div class="boxed" style="text-align: left;">
               Employee Queries
          </div>
          <br>

          <!-- MAIN query table STARTS HERE -->
           <div class="table-box">
                  <table class="table">
     <thead>
       <th>Name</th>
       <th>Email ID</th>
       <th>Mobile Number</th>
       <th>Query</th>
    
     </thead>
     <tbody>
       <%records.forEach(function(row){%>
        <tr>
            <td><%=row.Full_Name%></td>
            <td><%=row.Email_ID%></td>
            <td><%=row.Mobile_Number%></td>
            <td><%=row.Your_Message%></td>


            
        </tr>
        <% }) %>
        
        

     </tbody>
   </table>
              
            </div>
          
        </div>
      </main>

      <div id="sidebar" style="text-align: left;">
        <div class="sidebar__img">
            <img src="/images/logo.png" alt="logo" />
        </div>
        <i onclick="closeSidebar()" class="fa fa-times" id="sidebarIcon" aria-hidden="true" ></i>
        <div class="sidebar__menu">
          <div class="sidebar__link">
            <i class="fa fa-home"></i>
            <a href="/HRs/dashboard">Dashboard</a>
          </div>
          <h2>MNG</h2>
          <div class="sidebar__link">
            <i class="fa fa-building-o"></i>
            <a href="/HRs/emp-details">Employee Management</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-wrench"></i>
            <a href="/HRs/new_hire">New Recruits Management </a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-archive"></i>
            <a href="/HRs/kit-status">Welcome Kit Status</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-check-circle"></i>
            <a href="/HRs/doc_verify">Document Verification</a>
          </div>
          <div class="sidebar__link active_menu_link">
            <i class="fa fa-handshake-o"></i>
            <a href="/HRs/queries">Employee Queries</a>
          </div>
          <br><hr><br>
          <div class="sidebar__logout">
            <i class="fa fa-power-off"></i>
            <a href="/HRs/sign-out">Log out</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
  </body>
</html>
