<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body>
      <div>
         <br><br>
         <img src="/images/logo.png">
         <br><br><br>
      </div>
      <div class="wrapper">
         <div class="title">
               HR Login
         </div>
         <form action="/HRs/create-session" method="POST"> 
            <br> 
            <input type="email" name="email" value="" class="form-control input-lg" placeholder="Your Email" required /><br>
            <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" required/><br>
            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
               <div class="pass-link">
                  <a href="forgot password.html">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
         </form>
      </div><br><br>
   </body>
</html>