<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/HR_styles.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <script src="/js/HR_script.js"></script>

    
  </head>
  <body>
    <header>
 
        <h1>
       Document Verification <p><i>Enter Username</i></p>
       </h1>
       <hr/>
       
       </header>
    <main>
     <br>
        <div class="box">
            <label class="label-top">Photograph</label><br><br>
       <img src="images/try/img-1.jpeg"></div>
       
       <div class="box">
        <label class="label-top">Signature</label><br><br>
       <img src="images/try/img-2.jpg"></div>
       
       <div class="box">
        <label class="label-top">ID card front</label><br><br>
       <img src="images/try/img-3.jpg"></div>
       
       <div class="box">
        <label class="label-top">ID card back</label><br><br>
       <img src="images/try/img-4.jpg"></div>
       
       <div class="box">
        <label class="label-top">Bank Acoount Details</label><br><br>
       <img src="images/try/img-5.jpg"></div>
       
       <div class="box">
        <label class="label-top">PAN card front</label><br><br>
       <img src="images/try/img-6.jpg"></div>
       
       <div class="box">
        <label class="label-top">PAN card back</label><br><br>
       <img src="images/try/img-7.jpg"></div>
       
       </main>
  </body>
</html>